body,div,ul,li,dl,dt,dd,ol,p,h1,h2,h3,h4,h5,h6,form {margin:0;padding:0}
body {font:normal; font-family:NanumBarunGothic,'맑은 고딕','Malgun Gothic'; ;}
ul,ol,dl {list-style:none}
img {border:0;vertical-align:top;}
ul {list-style:none; padding:0; margin:0;}
*{margin:0; border:0; padding:0;}