html{overflow-y: scroll;}
*{margin:0; border:0; padding:0;}

.fl{float:left;}
.fr{float:right;}
.hide{display:none;}
.cf:after{
	content: ' ';
	display: block;
	clear:both;}
.red{color:red;}
.cb{clear:both;}




#lay_out{margin: 0 auto; width: 1200px;}
#middle{margin: 0 auto; width:100%; }
 /* 비쥬얼배경이미지와 헤더 */
#ko_Svisual{height:240px; background:url(../images/bg_svisual_03.png) no-repeat 59% 43%;}
	.visual_tit{width:428px; height:83px; padding-top:50px; display:block;}
	.visual_tit h1{font-size:45px; color:#ffffff;padding-left:70px; height:70px;float:left; line-height:78px; font-family:NanumGothic,'맑은 고딕','Malgun Gothic';}
	.visual_tit h1 span{background:url(../images/common/bg_title.png) no-repeat 0 0; margin-right:13px;
	width:71px;height:67px;display:block; float:left;}
	.visual_tit p{font-size:14px; color:#ffffff; display:block; 
	white-space:nowrap; clear:both; margin-left:157px; 
	letter-spacing:1px;}
/* 탭메뉴 */
    #ko_Slnb{height:63px; background:#45495B; width:100%; margin-top:-33px;}
	#ko_Slnb>#nav>li{padding:21px 17px;}
	#ko_Slnb>#nav>li>a{color:#ffffff; font-size:16px; text-align:center;}
	#ko_Slnb>#nav>li.tab1{background-color:#ffffff;border:1px solid #aaaaaa;}
	#ko_Slnb>#nav>li.tab1>a.sub_head{color:#000000; font-weight:bold;}
	#ko_Slnb>#nav>li:hover{background-color:#ffffff; border:1px solid #aaaaaa;}
	#ko_Slnb>#nav>li:hover a.sub_head{color:#000000;font-weight:bold;}
/* 	#ko_Slnb>#nav>li.tab2:hover~li.tab1{background-color:#45495B;} */

/* 탭메뉴 서브메뉴 */
	#ko_Slnb #nav li.tab1 ul.sub01{width:1168px; margin-top:19px;border-bottom:1px solid #aaaaaa; border-left:1px solid #aaaaaa;border-right:1px solid #aaaaaa; margin-left:-7px; 
	padding:20px 15px; display:block; color:#333333;}
	#ko_Slnb #nav li.tab1 ul.sub01 li{display:inline;padding:15px 15px;}
	#ko_Slnb #nav li.tab1 ul.sub01 li a{ display:block;float:left;  color:#333333; margin-left:50px;}
	#ko_Slnb #nav li.tab1 ul.sub01 li a.fir{text-decoration:underline;}
	#ko_Slnb #nav li.tab1 ul.sub01 li a:hover{text-decoration:underline;}
	/* 	#ko_Slnb>#nav>li.tab2:hover~li.tab1>ul.sub01{display:none;} */
	
/* 중간 콘텐츠시작	 */
	/* 콘테츠 head */
	#section{width:100%; margin: 0 auto; margin-top:77px;}
	#content .ko_title{width:1200px; margin:0 auto;}
	#content .ko_title h1{margin-bottom:15px; font-weight:normal;}
	#content .ko_title p{margin-left:-10px;}
	#content .ko_title p a{display:block; float:left; color:#575757; font-size:14px; line-height:1; padding-left:11px; padding-right:10px;}
	#content .ko_title p a.last_lnk{text-decoration:underline;  background:url(../images/common/bg_mnew.png) no-repeat;}
	#content .ko_title p a.lnk{background:url(../images/common/bg_mnew.png) no-repeat;}
	#content .ko_title .location_btnbox{float:right;}
	#content .ko_title .location_btnbox a{display:block; float:left; padding-left:2px;color:#575757; height: 21px; width:80px;}
	#content .ko_title .location_btnbox a>img{height: 21px; width:26px; overflow:hidden;
	display:inline; margin-right: 3px; vertical-align:top;}


/* 검색박스 */
#search_box div.basic_search .searchinput input[type="text"]{border:1px solid #bcbcbc; padding:9px 15px;}
#search_box div.basic_search .searchinput input[type="submit"]{background:url(../images/r_find_btn.png)no-repeat 50% 50%; padding:3px; height:29px; width:28px;}
#search_box div.basic_search .grap select{border:1px solid #bcbcbc; padding:8px 18px;}
#search_box{border:1px solid #aaaaaa;  box-shadow: 1px 3px 10px #BBBBBB; padding:20px; color:#333333; margin-top:50px;}
div.grap{margin-right:3px;}
#search_box p{line-height:29px;}


#search_box div.basic_search .searchinput input[type="text"]:focus{background-color: #ffffff; border: 2px solid #007FFF; color:#0000FF;}
#search_box div.basic_search .grap select:focus{background-color: #ffffff; border: 2px solid #007FFF; }	


	/* 게시판시작 */
#board{width:1200px;}
div.state>a>img{width:67px; height:22px; } 
div.title>a>img{margin-top:13px;} 
div#board{ margin-top:50px; margin-bottom:20px; color:#222222; }
#board .Bhead{height: 50px; border-top: 3px solid #0F0F1E; border-bottom: 1px solid #aaaaaa; text-align:center; line-height:40px;}
#board .Bbody{height: 50px; border-top: 1px solid #aaaaaa; border-bottom: 1px solid #cfcdc1; text-align:center; line-height:40px; }
#board a{text-decoration:none; color:#666666;} 
div.bhead1{width:70px; border-right:1px solid #aaaaaa;text-align:center;}
div.bhead2{width:720px; border-right:1px solid #aaaaaa;text-align:center; }
div.bhead3{width:90px; border-right:1px solid #aaaaaa;text-align:center;}
div.bhead4{width:65px; border-right:1px solid #aaaaaa; text-align:center;}
div.bhead5{width:120px; border-right:1px solid #aaaaaa; text-align:center;}
div.bhead6{width:130px; text-align:center;}

div.number{width:70px; border-right:1px solid #aaaaaa;text-align:center; font-weight:bold; font-weight:normal;}
div.title{width:710px; border-right:1px solid #aaaaaa;text-align:justify; margin-left:10px; }
div.name{width:90px; border-right:1px solid #aaaaaa;text-align:center;}
div.view{width:65px; border-right:1px solid #aaaaaa; text-align:center;}
div.state{width:120px; border-right:1px solid #aaaaaa; text-align:center; margin-top:10px;}
div.date{width:130px; text-align:center;}

/* 페이지 */
div.page{width:1000px; margin:0 50px 30px 400px; }
div.page>a{ display:block;  border:1px solid #aaaaaa; margin-right:5px; padding:10px;  color:#333333; font-weight:normal; border-radius:5px;}
ul{list-style:none;}

div.page>a:hover{background-color:#444444; color:#ffffff;}
#board a:hover {font-weight: bold;}

div.board_btn a{border:1px solid #FF7373; width:60px; padding-top:10px; padding-bottom:10px; padding-left:47px; color:#ffffff; background-color:#FF2626; float:right; background-image:url(../images/btn_writ.png); background-repeat: no-repeat; background-position: 15px 50%;}

div.board_btn a:hover{background-color:#ffffff; color:#FF4C4C;}	
	
	
	
	
	
	
	
	
	
	
	
	/* 담당자박스 */
	div.charge_box{width:1160px; height:63px; border:1px solid #aaaaaa; margin-top:50px;padding:20px; text-align:center; margin-bottom:100px;}
	div.charge_box p{float:left; font-size:15px; line-height:63px; padding-right:34px; margin-right:20px; }
	div.charge_box p.cha01{border-right:1px solid #aaaaaa;}
	div.charge_box p.cha02 span{color:#FF4C4C; }
	div.charge_box p.cha02{float:right; }
	
	
	
	
	
	
	
	
	
	
	