html{overflow-y: scroll;}
*{margin:0; border:0; padding:0;}

.fl{float:left;}
.fr{float:right;}
.hide{display:none;}
.cf:after{
	content: ' ';
	display: block;
	clear:both;}
.red{color:red;}
.cb{clear:both;}




#lay_out{margin: 0 auto; width: 1200px;}
#middle{margin: 0 auto; width:100%; }
 /* 비쥬얼배경이미지와 헤더 */
#ko_Svisual{height:240px; background:url(../images/bg_svisual_04.png) no-repeat 59% 43%;}
	.visual_tit{width:428px; height:83px; padding-top:50px; display:block;}
	.visual_tit h1{font-size:45px; color:#ffffff;padding-left:70px; height:70px;float:left; line-height:78px; font-family:NanumGothic,'맑은 고딕','Malgun Gothic';}
	.visual_tit h1 span{background:url(../images/common/bg_title.png) no-repeat 0 0; margin-right:13px;
	width:71px;height:67px;display:block; float:left;}
	.visual_tit p{font-size:14px; color:#ffffff; display:block; 
	white-space:nowrap; clear:both; margin-left:157px; 
	letter-spacing:1px;}
/* 탭메뉴 */
    #ko_Slnb{height:63px; background:#45495B; width:100%; margin-top:-33px;}
	#ko_Slnb>#nav>li{padding:21px 17px;}
	#ko_Slnb>#nav>li>a{color:#ffffff; font-size:16px; text-align:center;}
	#ko_Slnb>#nav>li.tab1{background-color:#ffffff;border:1px solid #aaaaaa;}
	#ko_Slnb>#nav>li.tab1>a.sub_head{color:#000000; font-weight:bold;}
	#ko_Slnb>#nav>li:hover{background-color:#ffffff; border:1px solid #aaaaaa;}
	#ko_Slnb>#nav>li:hover a.sub_head{color:#000000;font-weight:bold;}
/* 	#ko_Slnb>#nav>li.tab2:hover~li.tab1{background-color:#45495B;} */

/* 탭메뉴 서브메뉴 */

	#ko_Slnb #nav li.tab1 ul.sub01{width:1168px; margin-top:19px;border-bottom:1px solid #aaaaaa; border-left:1px solid #aaaaaa;border-right:1px solid #aaaaaa; margin-left:-7px; 
	padding:20px 15px; display:block; color:#333333;}
	#ko_Slnb #nav li.tab1 ul.sub01 li{display:inline;padding:15px 15px;}
	#ko_Slnb #nav li.tab1 ul.sub01 li a{ display:block;float:left;  color:#333333; margin-left:50px;}
	#ko_Slnb #nav li.tab1 ul.sub01 li a.fir{text-decoration:underline;}
	#ko_Slnb #nav li.tab1 ul.sub01 li a:hover{text-decoration:underline;}
	/* 	#ko_Slnb>#nav>li.tab2:hover~li.tab1>ul.sub01{display:none;} */
	
/* 중간 콘텐츠시작	 */
	/* 콘테츠 head */
	#section{width:100%; margin: 0 auto; margin-top:77px;}
	#content .ko_title{width:1200px; margin:0 auto;}
	#content .ko_title h1{margin-bottom:15px; font-weight:normal;font-size:40px;}
	#content .ko_title p{margin-left:-10px;}
	#content .ko_title p a{display:block; float:left; color:#575757; font-size:14px; line-height:1; padding-left:11px; padding-right:10px;}
	#content .ko_title p a.last_lnk{text-decoration:underline;  background:url(../images/common/bg_mnew.png) no-repeat;}
	#content .ko_title p a.lnk{background:url(../images/common/bg_mnew.png) no-repeat;}
	#content .ko_title .location_btnbox{float:right;}
	#content .ko_title .location_btnbox a{display:block; float:left; padding-left:2px;color:#575757; height: 21px; width:80px;}
	#content .ko_title .location_btnbox a>img{height: 21px; width:26px; overflow:hidden;
	display:inline; margin-right: 3px; vertical-align:top;}

	/* 인사말이미지 */
	#intro{margin-top:50px;}
	.intro_img{position:relative;}
	.intro_img img{ width: 30%;}
	.intro_img_name{background-image:url(../images/bg_msg.png);background-repeat:no-repeat;     height: 379px; position:relative; left:162px; top: -305px; width: 320px;}
	.intro_img_name p{color:#ffffff; position:relative; top:273px; left:65px;}
	.intro_img_name span{color:#ffffff; position:relative; top:281px; left:-2px;    background:url(../images/greeting_name.png) no-repeat; display: block;
    font-size: 0; height: 40px; margin:0 auto; width: 102px;}
 /* 인사말 텍스트 */
 .intro_text{padding: 0 0 0 137px; height: 100%;
    margin-left: 352px;
    margin-top: -918px;
	width:651px;}
.intro_text p:first-child{ font-size: 28px;
    font-weight: bold; color:#666666;
    margin-bottom: 32px; line-height:1.7em;}
	.intro_text p.tx_02{margin-bottom: 50px; line-height:2px;}
	.intro_text p.tx_03{margin-bottom: 25px;}
	.intro_text p{line-height:1.7em; color:#666666;}
	
	
	
	
	
	
	
	
	/* 담당자박스 */
	div.charge_box{width:1160px; height:63px; border:1px solid #aaaaaa; padding:20px; text-align:center; margin-bottom:100px;}
	div.charge_box p{float:left; font-size:15px; line-height:63px; padding-right:34px; margin-right:20px; }
	div.charge_box p.cha01{border-right:1px solid #aaaaaa;}
	div.charge_box p.cha02 span{color:#FF4C4C; }
	div.charge_box p.cha02{float:right; }
	
	
	
	
	
	
	
	
	
	
	